udrawd.xcodeproj/project.xcworkspace/
udrawdws
udrawd.xcodeproj/xcuserdata/
static/
nbproject/private
*~
*.key
*.crt
*.o
udrawd
.DS_Store
*.pem
/dist/
CMakeCache.txt
**/CMakeFiles
CMakeFiles
cmake_install.cmake
udrawdConfig.h
Makefile
*.so
*.a
*.la
*.xcodeproj/
*.build/
CMakeScripts/
Debug/
Release/
